# IDE
/.idea
/.vscode


/data
/databases
/indexes
/backend/app.db
/backend/models/PyterrierModel/wt2g_index
/backend/venv

# environment variables
.rsenv

# macos metadata
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
