# boto==2.49.0
# boto3==1.13.1
# botocore==1.16.1
# chardet==3.0.4
# docutils==0.15.2
# jmespath==0.9.5
# s3transfer==0.3.3
# sklearn==0.0
# threadpoolctl==2.1.0
Flask
Flask-Migrate
flask-cors
flask-marshmallow
gensim
marshmallow-sqlalchemy
Markdown
python-dotenv
python-terrier
tika
tree_sitter
function_parser @ git+https://github.com/g-lopes/function_parser
pandas==1.5.3
protobuf==3.20.3
torch





























