.grow {
  flex-grow: 1;
}
.formControl {
  margin: 8px !important;
  min-width: 160px !important;
}

.search {
  position: relative;
  /*borderRadius: theme.shape.borderRadius;*/
  background-color: rgba(255,255,255,.5);

  /*&:hover {*/
  /*  backgroundColor: alpha(theme.palette.common.white, 0.25);*/
  /*}*/

  /*margin-right: theme.spacing(2);*/
  margin-left: 24px;
  width: auto;
  /*[theme.breakpoints.up('sm')]: {*/
  /*  marginLeft: theme.spacing(3);*/
  /*  width: auto;*/
  /*},*/
}
.searchIcon {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBase {
  padding: 8px 8px 8px 0;
  padding-left: calc(1em + 32px);
}

.example-button {
  margin-left: 16px !important;
}
